div.header-content {
	height: 10%;
}
div.body-content {
	height: 90%;
}
.flex-limiter {
	flex-wrap: nowrap;
	overflow-y: auto;
}
.text-limiter {
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.text-limiter.two-liner {
    -webkit-line-clamp: 2;
}
.text-limiter.three-liner {
    -webkit-line-clamp: 3;
}
.max-img-height {
	max-height: 30vh;
}

/*sop_loading*/
div#loading-main-content {
	height: 100%;
	width: 100%;
	background: white;
}
div#loading-progress {
	width: 90%;
}
div#loading-refresh {
	width: 10%;
}

/*sop_landing*/
div#landing-main-content {
	height: 90%;
}
div#landing-footer-content {
	height: 10%;
}
a.language-dropdown-item.lang-selected::after {
	content: ' \2713';
	white-space: pre;
  	display: inline-block;
  	color: green;
}

/*sop_category*/
div.card-container {
	padding: 5px 0 0 5px;
}
div.card-container div.sub-card-container {
	padding: 0 5px 5px 0;
}
div.card-container .card {
	cursor: pointer;
	height: 100%;
}
div.card-container .card-body {
	padding: 0rem 0.6rem 0.6rem 0.6rem;
}
div.card-container .card-title {
	margin: 0;
}
div.card-container .sub-card-body {
	width: 100%;
}

/*sop_tierselection*/
div.modal-container-90 {
	width: 100%;
	height: 90%;
}
div.modal-container-90 .modal-sub-container-90 {
	border-radius: 10px;
	background: #FFFFFF;
	height: 100%;
	width: 90%;
}

/*Page Overlay Setting*/
div.page-overlay {
	position: absolute;
	background: #FFFFFF;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
div#loading-overlay {
	z-index: 100;
}
div#landing-overlay {
	z-index: 1;
}
div#item-category-overlay {
	z-index: 2;
}
div#item-list-overlay {
	z-index: 3;
}
div#category-selection-overlay {
	background: #00000077;
	z-index: 4;
}
div#item-detail-overlay {
	z-index: 5;
}
div#tier-selection-overlay {
	background: #00000077;
	z-index: 6;
}